/* Styling for the button */
.dropdown-button {
    padding: 10px 20px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    cursor: pointer;
    width: 1000px;
    height: 100px;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-align: left;
    font-weight: bold;
    background-color: #0196be;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.8);
    color: #ffffff;
    border: none;
    transition: background-color 1.0s ease, box-shadow 1.0s ease, transform 1.0s ease;
  }

  .dropdown-button:hover {
    color: #ffd700; /* Change to a darker shade or a different color */
    /*box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9); /* Make the shadow more pronounced */
    background-color: #0196be;
    transform: scale(1.03);
    
  }

  .dropdown-button:hover .dropdown-content {
    transition: opacity 1.0s ease; /* Smooth transition for opacity */
    opacity: 1; /* Make content fully visible on hover */
    /*visibility: visible; /* Ensure content is visible */
}
  
  /* Styling for the dropdown content */
  .dropdown-content {
    padding: 10px 20px;
    background-color: #00a994;
    border-radius: 5px;
    overflow: hidden;
    color: #ffffff;
    max-height: 0; /* Collapsed by default */
    width: 1000px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
   
    opacity: 0; /* Start with content invisible */

  }





.button-placement {
    display: flex; /* Enables flexbox layout */
    align-items: center; /* Vertically centers flex items */
    flex-direction: column; /* Arranges flex items in a column */
    min-height: 100vh; /* Full viewport height */
    width: 100%; /* Full width */
    padding-top: 100px; /* Space at the top */
    
}

.bg-style {

    background-color: #ffffff;
    width: 100%; /* Full width */
    height: 100%;
    position: relative; /* Position relative for absolute positioning */
    flex: 1; /* Allow the background to grow and fill available space */
}




  
  /* When dropdown is open */
  .dropdown-content.open {
    max-height: 500px;
    transition: opacity 2.0s ease, max-height 3.0s ease; /* Smooth transition for opacity */
    opacity: 1;
  }
  
  .dropdown-content.closed {
    max-height: 0;
  }

  .search-bar {
      margin: 10px 0; /* Add some margin */
  }

  .search-bar input {
      width: 100%; /* Full width */
      padding: 20px; /* Padding */
      font-size: 1.3rem; /* Font size */
      border: 1px solid #ccc; /* Border */
      border-radius: 5px; /* Rounded corners */
      box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Shadow for depth */
  }

  .button-placement {
      margin-top: 5px; /* Space above the dropdown buttons */
  }

  