.flashcard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: none !important; /* Remove any background image */
}

.flashcard {
  perspective: 1000px; /* Add perspective for 3D flip effect */
  width: 800px; /* Width of the flashcard */
  height: 400px; /* Height of the flashcard */
  margin-bottom: 20px;
  border-radius: 20px; /* Make the corners rounded */
}

.flashcard-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d; /* Preserve 3D for flip effect */
}

.flashcard:hover .flashcard-inner {
  transform: rotateY(180deg); /* Flip on hover */
}

.flashcard-front, .flashcard-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hide the back when front is visible */
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flashcard-front {
  background-color: #C1E899; /* Front side style */
}

.flashcard-back {
  background-color: #ffffff; /* Back side style */
  transform: rotateY(180deg); /* Rotate the back */
  align-items: center;
}

.flashcard-question {
  font-size: 4em;
  color: #55883B;
}

.flashcard-answer, .flashcard-example {
  font-size: 4em;
}

button {
  margin: 5px;
  padding: 15px 25px;
  font-size: 1.5em;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-family: 'Roboto', 'Open Sans', 'Raleway', sans-serif;
  font-style: italic;
}

button:hover {
  background-color: #D8BFD8;
}

.flashcard-image {
  max-width: 100%; /* Ensures the image doesn't exceed its parent width */
  max-height: 100%; /* Ensures the image doesn't exceed its parent height */
  width: auto; /* Allow width to adjust automatically */
  height: auto; /* Allow height to adjust automatically */
  border-radius: 8px; /* Optional: round corners */
  margin-top: 10px; /* Space between term and image */
  display: block; /* Ensures images are block elements */
  margin-left: auto; /* Center the image */
  margin-right: auto; /* Center the image */
  align-self: flex-start;
}




