 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(66,84,101,0.2), rgba(66,84,101,0.2)), url('images/jh.jpg');
  background-position: 50% 50%;
  min-height: 686px;
}

.u-section-1 .u-sheet-1 {
  min-height: 686px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 446px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 566px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 314px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 434px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 206px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 326px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 85px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 205px;
  }
}